* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0px;
}
html {
    /* background-color: cadetblue; */
    background-image: url(images/Cross.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: cornflowerblue;
    padding: 3px;
    margin: 0 40%;
}
/* .hero-image {
    background-image: url(images/sky.jpg);
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
} */
.hero-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: cornflowerblue;
    padding: 3px;
    margin: 150px 250px;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: cornflowerblue;
    padding: 3px;
    margin: 10px 25%;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: cornflowerblue;
    padding: 3px;
    margin: 0px 15%;
}
form {
    text-align: center;
}
.topnav {
    overflow: hidden;
    background-color: lightskyblue;
}
.topnav a{
    list-style-type: none;
    float: left;
    display: block;
    color: blue;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    width: 25%;
}
.topnav a:hover{
    background-color: lightgray;
    color: blue;
}
ul {
    list-style-type: none;
}
.bottomnav {
    overflow: hidden;
    background-color: lightskyblue;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bottomnav a:hover {
    background-color: lightgray;
    color: blue;
}
.bottomnav a{
    list-style-type: none;
    float: left;
    display: block;
    color: blue;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    width: 25%;
}

.music, .mylist {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: cornflowerblue;
    padding: 3px;
    margin: 0px 15%;
}
aside {
    float: right;
    text-align: center;
    margin: 25px;
    padding: 5px;
}
form {
    background-color: cornflowerblue;
    padding: 3px;
    margin: 0px 25%;
}
figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: cornflowerblue;
    padding: 3px;
    margin: 0px 25%;
}

footer {
    background-color: cornflowerblue;
}